.main {
  padding: 0 36px;
}

.about,
.interest {
  margin-bottom: 20px;
}

.main h2 {
  font-size: 16px;
  margin-bottom: 6px;
}

.main p {
  font-size: 10.5px;
  line-height: 1.5;
  color: #DCDCDC;
}